.ipynb_checkpoints
*.DS_Store
*.weights
*.mp4
!study/02_study/video/videoplayback.mp4
study/02_study/pre-study-junSeong/PennFudanPed
*.vscode
library/PyTorch/data/*
study/02_study/pre-study-junSeong/img/*
*.pickle
#*.pyc
*__pychache__
study/04_study/sangyun/images
study/04_study/sangyun/video
main_project/lstm/squat-down/*
main_project/lstm/squat-up/*
main_project/lstm/squat-up_csv/*
main_project/lstm/squat-down_csv/*
main_project/lstm/pushup-down_csv/*
main_project/lstm/pushup-up_csv/*
main_project/lstm/lunge-down_csv/*
main_project/lstm/lunge-up_csv/*
main_project/lstm/pushup-down/*
main_project/lstm/pushup-up/*
main_project/lstm/lunge-down/*
main_project/lstm/lunge-up/*
main_project/MHI/data
main_project/MHI/models